<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-md-1">
                <div class="divider"></div>
                <h6>Share on</h6>
                <ul class="social-list">
                    <li><a class="delicious-icon" href="https://delicious.com/save?v=5&provider={provider}&noui&jump=close&url={url}&title={title}"></a></li>
                    <li><a class="tumblr-icon" href="http://www.tumblr.com/share/link?url={{ site.url }}{{ page.url }}"></a></li>
                    <li><a class="linkdin-icon" href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ site.description }}"></a></li>
                    <li><a class="digg-icon" href="http://digg.com/submit?url={{ site.url }}{{ page.url }}&title={{ site.description }}"></a></li>
                    <li><a class="facebook-icon" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}"></a></li>
                </ul>
            </div>
            <div class="col-md-10 offset-md-2">
                <div class="divider"></div>
                <div class="row">
                    <div class="col-8">
                        <ul class="footer-links">
                            <li><h6>Product</h6></li>
                            <li><a href="">Features</a></li>
                            <li><a href="">Feature Tour</a></li>
                            <li><a href="">Free Evaluation</a></li>
                            <li><a href="">Purchase</a></li>
                        </ul>
                    </div>
                    <div class="col-8">
                        <ul class="footer-links">
                            <li><h6>Community</h6></li>
                            <li><a href="">Support</a></li>
                            <li><a href="">Discussion Forums</a></li>
                            <li><a href="">News</a></li>
                            <li><a href="">Twitter</a></li>
                        </ul>
                    </div>
                    <div class="col-8">
                        <ul class="footer-links">
                            <li><h6>Customers</h6></li>
                            <li><a href="">Customer Showcase</a></li>
                            <li><a href="">Case Studies</a></li>
                            <li><a href="">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 offset-md-1">
                <div class="copyright"> © 2010 - Privacy  </div>
            </div>
        </div>
    </div>
</footer>