// $main-color: #2C3951;
// $text-color: rgba($main-color, 0.5);
// $primary-color: #5CA3FF;
// $secondary-color: #313641;
// $dark-gray-color:    #1E232D;
// $white:      #ffffff;
// $dark-blue-color: #181c25;

$white: #ffffff;
$primary: #f4aa00;
$body-bg: #333132;

$font-family-sans-serif:      "Helvetica Neue", Arial, sans-serif !default;
